:root{
    --verde1: #4CCD99;
    --verde2: #007F73;
    --amarillo1: #FFC700;
    --amarillo2: #E0E1C6;
    --fondo: #F3F3DB;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: var(--fondo);
}

.menu ul{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    width: 40%;
    color: var(--verde2);


}
nav a{
    color: var(--verde2);
}

.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--verde1);
    padding: 2%;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;

}
.menu a{
    text-decoration: none;
    list-style: none;
}
.logo{
    color: var(--amarillo1);
    font-size: 30px;
    font-weight: bold;
}
.iniciar{
    color: var(--amarillo1);
    border: solid var(--amarillo1);
    padding: 5px;
    border-radius: 30px;
    font-weight: bold;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10% 10% 10%;
    

}
header div{

}
.imagen1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header div h1 span:last-child{
    color: var(--verde1);
}
.scooter h2 span:last-child{
    color: var(--amarillo1)
}
.carros h2 span:last-child{
    color: var(--verde2)
}
.carros{ 
    color: var(--amarillo1) !important; 
}
.scooter{
    color: var(--verde2);
}
header h1{
    color: var(--amarillo1);
    font-size: 50px;
}
.titulo{
    display: flex;
   
}
h2{

    margin-bottom: 5%;
}
.producto{
    background-color: var(--amarillo2) ;
    padding: 3%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #888686;
    cursor: pointer;

}
.ofert{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;

}
.ofertas{
    color: var(--verde2);
}
.footer1{
    background-color: var(--verde1);
    padding: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer2{
    background-color: var(--verde2);
    padding: 3%;

}
footer div h3{
    font-size: 50px;
    color: var(--amarillo1);
}
.footer1 div p{
    color: var(--verde2);
    font-weight: bold;


}
.footer2 p{
    color: var(--verde1);
}
.swal2-popup{
    background-color: var(--amarillo2) !important;
}
.producto-letra{
    color: var(--verde2);
}
.pop-up-contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.info h3{
    text-align: left;

    
}
.pop-up-contenido div h3{
    font-size: 16px;
    color: var(--verde2);
}
.swal2-confirm{
    border-radius: 30px !important;
}
.titulo-pop-up-text{
    font-size: 20px !important;
    color: var(--verde2);
}
.input-popup{
   border-radius: 30px;
   border: none;
   height: 30px;
   margin-top: 10px;
}
.swal2-styled.swal2-confirm{
    background-color: var(--verde2) !important;
}



section{
    margin-top: 10%;
}

@media screen and (max-width: 768px) { 
    .ofert {
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
    }
    .producto{
        margin-top: 4%;
    }
    header{
        flex-direction: column;
    }
    header img{
        width: 50%;
    }
}